
@font-face {
    font-family:"Morganite Black";
    src:url("Morganite-Black.woff2") format("woff2"),url("Morganite-Black.woff") format("woff"),url("Morganite-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        