
@font-face {
    font-family:"Morganite SemiBold";
    src:url("Morganite-SemiBold.woff2") format("woff2"),url("Morganite-SemiBold.woff") format("woff"),url("Morganite-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        