
@font-face {
    font-family:"Morganite Book";
    src:url("Morganite-Book.woff2") format("woff2"),url("Morganite-Book.woff") format("woff"),url("Morganite-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        