
@font-face {
    font-family:"Morganite ExtraLight";
    src:url("Morganite-ExtraLight.woff2") format("woff2"),url("Morganite-ExtraLight.woff") format("woff"),url("Morganite-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        