
@font-face {
    font-family:"Morganite Medium";
    src:url("Morganite-Medium.woff2") format("woff2"),url("Morganite-Medium.woff") format("woff"),url("Morganite-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        