
@font-face {
    font-family:"Morganite SemiBold Italic";
    src:url("Morganite-SemiBoldItalic.woff2") format("woff2"),url("Morganite-SemiBoldItalic.woff") format("woff"),url("Morganite-SemiBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        