
@font-face {
    font-family:"Morganite Light";
    src:url("Morganite-Light.woff2") format("woff2"),url("Morganite-Light.woff") format("woff"),url("Morganite-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        