
@font-face {
    font-family:"Morganite Bold";
    src:url("Morganite-Bold.woff2") format("woff2"),url("Morganite-Bold.woff") format("woff"),url("Morganite-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        