
@font-face {
    font-family:"Morganite ExtraBold";
    src:url("Morganite-ExtraBold.woff2") format("woff2"),url("Morganite-ExtraBold.woff") format("woff"),url("Morganite-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        