
@font-face {
    font-family:"Morganite Thin";
    src:url("Morganite-Thin.woff2") format("woff2"),url("Morganite-Thin.woff") format("woff"),url("Morganite-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        